<!DOCTYPE html>
<html>

<head>
    <title>数据数据实时报表页面</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <!-- Bootstrap -->
    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="../static/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
    <link href="../static/assets/styles.css" rel="stylesheet" media="screen">
    <link href="../static/assets/DT_bootstrap.css" rel="stylesheet" media="screen">
    <link href="../static/vendors/bootstrap.min.js" rel="stylesheet" media="screen">
    <link href="../static/vendors/jquery.min.js" rel="stylesheet" media="screen">
    <!--[if lte IE 8]>
    <script language="javascript" type="text/javascript" src="vendors/flot/excanvas.min.js"></script><![endif]-->
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>

    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <![endif]-->
    <script src="../static/vendors/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    <style>
        .calendar {
            table-layout: fixed;
        }
    </style>
</head>

<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">BootAdmin</a>
            <div class="nav-collapse collapse">
                <ul class="nav pull-right">
                    <li class="dropdown">
                        <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"> <i
                                class="icon-user"></i>管理员<i class="caret"></i>

                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a tabindex="-1" href="#">个人资料</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a tabindex="-1" href="login.html">退出</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav">
                    <li class="active">
                        <a href="#">首页</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">设置 <b class="caret"></b>

                        </a>
                        <ul class="dropdown-menu" id="menu1">
                            <li>
                                <a href="#">工具 <i class="icon-arrow-right"></i>

                                </a>
                                <ul class="dropdown-menu sub-menu">
                                    <li>
                                        <a href="#">报表</a>
                                    </li>
                                    <li>
                                        <a href="#">日志</a>
                                    </li>
                                    <li>
                                        <a href="#">错误</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">SEO设置</a>
                            </li>
                            <li>
                                <a href="#">其他链接</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">其他链接</a>
                            </li>
                            <li>
                                <a href="#">其他链接</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">内容 <i
                                class="caret"></i>

                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a tabindex="-1" href="#">博客</a>
                            </li>
                            <li>
                                <a tabindex="-1" href="#">新闻</a>
                            </li>
                            <li>
                                <a tabindex="-1" href="#">定制页面</a>
                            </li>
                            <li>
                                <a tabindex="-1" href="#">日历</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a tabindex="-1" href="#">答疑</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">用户 <i
                                class="caret"></i>

                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a tabindex="-1" href="#">用户列表</a>
                            </li>
                            <li>
                                <a tabindex="-1" href="#">搜索</a>
                            </li>
                            <li>
                                <a tabindex="-1" href="#">权限</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2" id="sidebar">
            <ul class="nav nav-list bs-docs-sidenav nav-collapse collapse">
                <li>
                    <a href="index.html"><i class="icon-chevron-right"></i> 首页</a>
                </li>
                <li>
                    <a href="calendar.html"><i class="icon-chevron-right"></i> 日历</a>
                </li>
                <li>
                    <a href="stats.html"><i class="icon-chevron-right"></i> 统计图表</a>
                </li>
                <li>
                    <a href="form.html"><i class="icon-chevron-right"></i> 表单</a>
                </li>
                <li class="active">
                    <a href="tables.html"><i class="icon-chevron-right"></i> 数据实时报表</a>
                </li>
                <li>
                    <a href="buttons.html"><i class="icon-chevron-right"></i> 按钮 & 图标</a>
                </li>
                <li>
                    <a href="editors.html"><i class="icon-chevron-right"></i> 编辑器</a>
                </li>
                <li>
                    <a href="interface.html"><i class="icon-chevron-right"></i> UI界面</a>
                </li>
                <li>
                    <a href="#"><span class="badge badge-success pull-right">731</span> 订单</a>
                </li>
                <li>
                    <a href="#"><span class="badge badge-success pull-right">812</span> 清单</a>
                </li>
                <li>
                    <a href="#"><span class="badge badge-info pull-right">27</span> 客户</a>
                </li>
                <li>
                    <a href="#"><span class="badge badge-info pull-right">1,234</span> 用户</a>
                </li>
                <li>
                    <a href="#"><span class="badge badge-info pull-right">2,221</span> 消息</a>
                </li>
                <li>
                    <a href="#"><span class="badge badge-info pull-right">11</span> 报告</a>
                </li>
                <li>
                    <a href="#"><span class="badge badge-important pull-right">83</span> 错误</a>
                </li>
                <li>
                    <a href="#"><span class="badge badge-warning pull-right">4,231</span> 日志</a>
                </li>
            </ul>
        </div>
        <!--/span 内容区域-->
        <div class="span10" id="content">

            <div class="row-fluid">
                <!-- block -->
                <div class="block">
                    <div class="navbar navbar-inner block-header">
                        <button class="btn btn-primary" id="search-number">查询数据</button>
                    </div>
                    <div class="block-content collapse in">
                        <div class="span12">
                            <table cellpadding="0" cellspacing="0" border="0"
                                   class="table table-striped table-bordered calendar" id="example">
                                <thead>
                                <tr>
                                    <th>期号</th>
                                    <th>热号</th>
                                    <th>冷号</th>
                                    <th>温号</th>
                                    <th>热号匹配个数</th>
                                    <th>冷号匹配个数</th>
                                    <th>温号匹配个数</th>
                                    <th>未出现的热号</th>
                                    <th>未出现的温号</th>
                                    <th>99余商结果</th>
                                    <th>99和差结果</th>
                                    <th>中奖号码</th>
                                </tr>
                                </thead>
                                <tbody style="">
                                <!--<tr class="odd gradeX">
                                    <td>Trident</td>
                                    <td>Internet
                                         Explorer 4.0</td>
                                    <td>Win 95+</td>
                                    <td class="center"> 4</td>
                                    <td class="center">X</td>
                                </tr>-->
                                </tbody>

                            </table>
                            <div>
                                <ul class="pagination">
                                    <li>
                                        <a href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li>
                                        <a href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- /block -->

            </div>

        </div>
    </div>
    <hr>
</div>
<!--/.fluid-container-->

<script src="../static/vendors/jquery-1.9.1.js"></script>
<script src="../static/bootstrap/js/bootstrap.min.js"></script>
<script src="../static/vendors/datatables/js/jquery.dataTables.min.js"></script>


<script src="../static/assets/scripts.js"></script>
<script src="../static/assets/DT_bootstrap.js"></script>
<script>
    $(function () {

    });

    $("#search-number").on("click", function () {
        var url = "http://localhost:8070/getHotColdNumbers";
        var params = {"date": 20181011, "period": 85};
        $.get(url, params, function (data) {
            // console.log(data);
            showCurrentNumber(data);
        });
    });

    function showCurrentNumber(data) {
        var tr = "";
        for (var i = 0; i < data.length; i++) {
            tr += "<tr>" + "<td>" + data[i].period + "</td>"
                + "<td>" + data[i].hotNumber + "</td>"
                + "<td>" + data[i].coldNumber + "</td>"
                + "<td>" + data[i].warmNumber + "</td>"
                + "<td>" + data[i].hotRight + "</td>"
                + "<td>" + data[i].coldRight + "</td>"
                + "<td>" + data[i].warmRight + "</td>"
                + "<td>" + data[i].hotReserve + "</td>"
                + "<td>" + data[i].warmReserve + "</td>"
                + "<td>" + data[i].twoNumber + "</td>"
                + "<td>" + data[i].anotherTwo + "</td>"
                + "<td>" + data[i].nextAward + "</td>"
                + "</tr>"
        }
        $("tbody").append(tr);
    }

</script>
</body>

</html>